.contactBtn {
    display: flex;
    gap: 32px;
}

.contact_form {

    display: flex;
    flex-direction: column;
    gap: 24px;
   
}

.contact_form form{

    display: flex;
    flex-direction: column;
    gap: 24px;
   
}

.form_handler{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    gap: 30px;
}

.form_handler input {
    height: 40px;
    padding: 0 8px;
}

.form_handler label {
    height: 40px;
    padding: 0 8px;
    position: absolute;
    top: -12px;
    left: 10px;
    background-color: white;
    
}

